<ion-view>
  <ion-content>
    <ion-slide-box show-pager="false">
      <ion-slide>
        <img class="full-image" src="views/welcome/image/1.jpg" alt="">
        </ion-slide>
      <ion-slide>
        <img class="full-image" src="views/welcome/image/2.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img class="full-image" src="views/welcome/image/3.jpg" alt="">
      </ion-slide>
      </ion-slide-box>
    <div class="row padding-left padding-right" style="position: absolute; button:10px;">
      <div class="col padding-left padding-right">
        <a class="button button-outline button-energized  button-block" ui-sref="login">登录</a>
        </div>
      <div class="col padding-left padding-right">
        <a class="button button-energized  button-block">注册</a>
      </div>
      </div>
  </ion-content>
</ion-view>
