<ion-view view-title="首页">
  <ion-content>
<img class="full-image"  src="views/Home/image/androidbanner.png" alt="">
    <div class="row padding-left stable-bg">
      <div class="col stable-bg">
        <h6>今日</h6>
        <p class="income">123.00<span class="yuan">元</span></p>
          <p>比昨天：<span class="balanced">+10.00</span><i class="icon ion-arrow-right-a balanced"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本周周报表</h6>
        <p class="income">123.00<span class="yuan">元</span></p>
        <p>周期：525.78<i class="icon ion-arrow-down-a dark"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本月报表</h6>
        <p class="income">250.00<span class="yuan">元</span></p>
        <p>同期：525.78<i class="icon ion-arrow-up-a assertive"></i></p>
      </div>
      </div>
      <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" ui-sref="app.product-add" >
          <i class="icon ion-android-apps energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" ui-sref="app.product-list">
            <i class="icon ion-happy-outline energized">
            </i>
            <h5>添加商品</h5>
          </a>
        </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" >
            <i class="icon ion-happy energized">
            </i>
            <h5>新增商品</h5>
          </a>
        </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-sad-outline energized">
            </i>
            <h5>新增商品</h5>
          </a>
        </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-headphone energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-speakerphone energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-calculator energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-soup-can energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-cloud energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-chatbubble-working energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
    </div>
    </div>
  </ion-content>
  <company-directive bottom="5px"></company-directive>
</ion-view>
