<ion-view view-title="店铺信息">
  <ion-content class="stable-bg">
    <ul class="list list-inset">
      <li class="item item-icon-right" ng-click="editShop('店铺名称','name')">
      店铺名称
        <span class="item-note">{{shop.name}}</span>
        <i class="icon icon-chevron-right icon-accessory"></i>
      </li>
      <li class="item item-icon-right" ng-click="editShop('店铺简称','jiancheng')">
        店铺简称
        <span class="item-note">{{shop.jiancheng}}</span>
        <i class="icon icon-chevron-right icon-accessory"></i>
      </li>
      <li class="item">
        注册时间
        <span class="item-note">{{shop.createTime}}</span>
      </li>
      <li class="item">
        手机号码
        <span class="item-note">{{shop.phone}}</span>
      </li>
      </ul>
    </ion-content>
  </ion-view>
