<ion-view view-title="修改密码">
  <form name="changePasswordForm" novalidate>
    <ion-content>
      <div class="list list-inset stable-bg">
        <span class="input-label">输入旧密码</span>
        <label for="" class="item item-input">
          <input name="oldPassword" type="password" ng-model="user.oldPassword" required>
        </label>
        <span class="input-label">输入密码</span>
        <label for="" class="item item-input">
          <input name="password" type="password" required ng-model="user.password" ng-minlength="6" ng-maxlength="16">
        </label>
        <span class="input-label">请再输入一次</span>
        <label for="" class="item item-input">
          <input  name="confirmPassword" type="password" ng-model="user.confirmPassword" equalto="user.password">
        </label>
      </div>
      <div class="padding">
        <button  type="submit" class="button button-energized button-block" ng-click="save()">确定</button>
      </div>
    </ion-content>
    <div class="toast-container active"
         ng-messages="changePasswordForm.password.$error"
         ng-if="changePasswordForm.password.$touched||changePasswordForm.$submitted">
      <p class="toast-message" ng-message="required">旧密码必填</p>
      </div>
    <div class="toast-container active"
         ng-messages="changePasswordForm.password.$error"
         ng-if="changePasswordForm.password.$touched||changePasswordForm.$submitted">
      <p class="toast-message" ng-message="required">新密码必填</p>
      <p class="toast-message" ng-message="minlength , maxlength">新密码六位只十六位</p>
    </div>
    <div class="toast-container active"
         ng-messages="changePasswordForm.confirmPassword.$error"
         ng-if="changePasswordForm.confirmPassword.$dirty||changePasswordForm.confirmPassword.$touched||changePasswordForm.$submitted">
      <p class="toast-message" ng-message="required">确定密码必填</p>
      <p class="toast-message" ng-message="equalto">密码不一致</p>
    </div>
  </form>
</ion-view>
