.category-content-left{
  width: 40%;
  float:left;
}
.category-content-right,.category-content-right-footer{
  width:60%;
  margin-left:40% ;
}
.active-item{
  background-color: $light;
  border-left: 4px solid $energized;
}
