<ion-view view-title="商品类别">
  <ion-nav-buttons side="right">
    <a class="button button-clear button-icon ion-ios-plus-empty" href="#/app/category-add/0/">
    </a>
  </ion-nav-buttons>
  <ion-content class="stable-bg category-content-left">
    <ul class="list">
      <li class="item">大类别</li>
      <li class="item" ng-repeat="category in categories" ng-click="seleCategory($index)"
        ng-class="{'active-item':category.ID===activeCategory.ID}">
        {{category.Name}}
      </li>
    </ul>
  </ion-content>
  <ion-content class="light-bg category-content-right">
    <ul class="list">
      <li class="item">小类别</li>
      <li class="item">{{showInfo}}</li>
      <li class="item" ng-repeat="subCategory in activeCategory.Children" ng-click="selectSubCategory(subCategory)" >
        {{subCategory.Name}}
      </li>
    </ul>
    <button class="button button-positive button-clear icon-left ion-plus-circled" ng-click="gotoCategoryAdd()">新增小分类</button>
  </ion-content>
  <div class="bar bar-footer row-center category-content-right-footer">
    <span ng-show="activeCategory.Children.length==0">目前没有小分类</span>
    <span ng-show="activeCategory.Children.length>0">共{{activeCategory.Children.length}}种商品分类</span>
    <button class="button button-icon stable-border button-small ion-android-more-horizontal pull-right" ng-click="showActionSheet()">
    </button>
  </div>
</ion-view>
